<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/sergiy</string>
		<key>PATH</key>
		<string>/Users/sergiy/.cargo/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.rozum.meeting-ssc</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/sergiy/.local/bin/rozum-meeting-ssc</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/sergiy/.rozum-meeting-ssc.log</string>
	<key>StandardOutPath</key>
	<string>/Users/sergiy/.rozum-meeting-ssc.log</string>
	<key>WorkingDirectory</key>
	<string>/Users/sergiy/work/my/rozum</string>
</dict>
</plist>
